/* CategoriaCarousel.css */
.categoria-carousel-container {
  max-width: 1000px;
  /* Ajusta el ancho máximo según tus necesidades */
  margin: auto;
  position: relative;
}

.categoria-carousel {
  display: flex;
  overflow: hidden;
}

.categoria-card {
  flex: 0 0 20%;
  padding: 10px;
  text-align: center;
}

.carousel-controls {
  display: flex;
  align-items: center;
}

.carousel-nav {
  margin: 0 10px;
}

.carousel-nav h3{
  font-size: 20px;
}

.carousel-nav .bi {
  font-size: 30px; /* Tamaño de iconos */
}